


/*--------- Styling for Header ---------*/
.headStyle input{
    min-width: 96%;
    min-height: 5vh;
    margin: 0.5rem 0;
    padding-left: 1rem;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 22px;
}

.headStyle input:focus {
    box-shadow: 0 0 8px #77d6ec;
    border-radius: 12px;
}


/*--------- Styling for Table ----------*/
.tStyle {
    color: rgb(0, 0, 0);
    margin: auto;
    width: -webkit-fill-available;
    min-height: 80vh;
    margin-top: 1vh;
    border-collapse: collapse;
    caption-side: bottom;
}

.tshead {
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

.tsbody {
    font-family: 'Rubik', sans-serif;
    font-size: small;
    vertical-align: inherit;
}

.rowStyle {
    max-height: 4vh !important;
    border-top: 0.5px solid rgb(200, 200, 200);
}

.tsbody tr:hover {
    background-color: #efefef;
    box-shadow: 0 0 2px #6d6d6d;
}
.tStyle input#CheckAll {
    width: 1rem;
    height: 1rem;
}
.tStyle input#CheckAll:hover {
    box-shadow: 0 0 3px #6d6d6d;
}
.tStyle input:hover {
    box-shadow: 0 0 2px #6d6d6d;
}
.row-selected {
    background-color: #efefef;
    box-shadow: 0 0 2px #6d6d6d;
}

.delete_icon {
    color: rgb(227, 36, 36);
    cursor: pointer;
    height: 2rem;
    border: 1px solid rgb(88, 88, 88);
}

.del_sel {
    margin-right: 65vw;
    color: #ec1616;
    padding: 0.2rem 0.5rem;
    font-weight: 700;
    border-radius: 22px;
    cursor: pointer;
}

.iconStyling {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    position: relative;
    left: 1rem;
    /* margin-left: 0.5rem; */
}

.empty {
    background-color: rgb(255 228 228);
    max-width: 42vw;
    height: 7vh;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    margin: auto;
    padding-top: 1vh;
    margin-bottom: 1rem;
}

/*--------- Styling for Modal ----------*/


.inp_elem {
    border-radius: 10px;
    padding: 2px 12px;
}

.submitButton {
    border-radius: 10px;
    margin-top: 0.6rem;
    margin-left: 44%;
}

/*--------- Styling for Footer ---------*/

.footerStyle button{
    z-index: 1;
    position: relative;
    top: 5vh;
}


.pagination {
    background-color: #eeeeee;
}
.pagination-style {
    max-width: 28vw;
    margin-left: auto;
    border-radius: 6px;
    border: 2px solid #808080;
 }

.page-item {
    width: 6vw;
    cursor: pointer;
    border-right: 1px solid #808080 ;
}

.highlight {
    color: rgb(241, 241, 246);
    background-color: #4a4a4a;
}